In [ ]:
## Recommender System : Market Basket analysis using MLExtend Library.

In [ ]:
##pip install streamlit

In [1]:
import pandas as pd
import numpy as np
import streamlit as st
import plotly.express as px
import plotly.graph_objects as go
import networkx as nx
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules
import matplotlib.pyplot as plt
plt.style.use('default')

"""Install Streamlit as it will be required sometime to help plotly render some graph"""

'Install Streamlit as it will be required sometime to help plotly render some graph'

In [2]:
## Load data 


data = pd.read_csv("Market_Basket_Optimisation.csv" , header = None)

In [8]:
data .head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data.shape

(7501, 20)

In [18]:
##  capture just row lables by acessing the index in shape

data[1]

20

In [3]:
data[1]

0                 almonds
1               meatballs
2                     NaN
3                 avocado
4                    milk
              ...
7496           light mayo
7497    frozen vegetables
7498                  NaN
7499            green tea
7500      frozen smoothie
Name: 1, Length: 7501, dtype: object

In [5]:
## Lets do the EDA to Understand the DAta Better, 

# 1.  Get all the items in the dataset, to get the total number of items.

"""Create an empty list to gather the values, and convert in np.array"""
items = []

"""Loop through each value in rows and columns to get each value in the list, no matter even if they are repeated."""
for i in range(0, data.shape[0]):
    for j in range(0, data.shape[1]):
        items.append(data.values[i,j])

items = np.array(items)

In [6]:
print("Total Number of items present in the dataset",len(items))
df = pd.DataFrame(items, columns = ['items'])
df['items'].value_counts().head(10)

Total Number of items present in the dataset 150020

nan                  120657
mineral water          1788
eggs                   1348
spaghetti              1306
french fries           1282
chocolate              1230
green tea               991
milk                    972
ground beef             737
frozen vegetables       715
Name: items, dtype: int64

In [7]:
## get the Count of the unique values in items by grouping them.

"""Make a New column in the dataset , by putting a value of digit 1, so that we can add them by groupping the similar values."""

df['item_count'] = 1

In [73]:
df.head()

            items  item_count
0          shrimp           1
1         almonds           1
2         avocado           1
3  vegetables mix           1
4    green grapes           1

In [8]:
df[df['items'] == 'nan'].shape

(120657, 2)

In [79]:
# df.dropna(axis = 1,inplace=True)

In [9]:
df.drop(df[df['items'] == 'nan'].index , inplace=True)

In [10]:
df.shape

(29363, 2)

In [140]:
items.shape

(150020,)

In [11]:
df_items_list = df.groupby(['items']).sum().reset_index().sort_values(by = 'item_count' , ascending = False)
df_items_list.head(10).style.background_gradient(cmap='BuPu')

Colormap green is not recognized. Possible values are: Accent, Accent_r, Blues, Blues_r, BrBG, BrBG_r, BuGn, BuGn_r, BuPu, BuPu_r, CMRmap, CMRmap_r, Dark2, Dark2_r, GnBu, GnBu_r, Greens, Greens_r, Greys, Greys_r, OrRd, OrRd_r, Oranges, Oranges_r, PRGn, PRGn_r, Paired, Paired_r, Pastel1, Pastel1_r, Pastel2, Pastel2_r, PiYG, PiYG_r, PuBu, PuBuGn, PuBuGn_r, PuBu_r, PuOr, PuOr_r, PuRd, PuRd_r, Purples, Purples_r, RdBu, RdBu_r, RdGy, RdGy_r, RdPu, RdPu_r, RdYlBu, RdYlBu_r, RdYlGn, RdYlGn_r, Reds, Reds_r, Set1, Set1_r, Set2, Set2_r, Set3, Set3_r, Spectral, Spectral_r, Wistia, Wistia_r, YlGn, YlGnBu, YlGnBu_r, YlGn_r, YlOrBr, YlOrBr_r, YlOrRd, YlOrRd_r, afmhot, afmhot_r, autumn, autumn_r, binary, binary_r, bone, bone_r, brg, brg_r, bwr, bwr_r, cividis, cividis_r, cool, cool_r, coolwarm, coolwarm_r, copper, copper_r, cubehelix, cubehelix_r, flag, flag_r, gist_earth, gist_earth_r, gist_gray, gist_gray_r, gist_heat, gist_heat_r, gist_ncar, gist_ncar_r, gist_rainbow, gist_rainbow_r, gist_stern, gist_stern_r, gist_yarg, gist_yarg_r, gnuplot, gnuplot2, gnuplot2_r, gnuplot_r, gray, gray_r, hot, hot_r, hsv, hsv_r, inferno, inferno_r, jet, jet_r, magma, magma_r, nipy_spectral, nipy_spectral_r, ocean, ocean_r, pink, pink_r, plasma, plasma_r, prism, prism_r, rainbow, rainbow_r, seismic, seismic_r, spring, spring_r, summer, summer_r, tab10, tab10_r, tab20, tab20_r, tab20b, tab20b_r, tab20c, tab20c_r, terrain, terrain_r, twilight, twilight_r, twilight_shifted, twilight_shifted_r, viridis, viridis_r, winter, winter_r

In [12]:
## Creating a Treemap for the dataset to visualize the size of Items.

""" Follow this link to know more about the Plotly express tree map"""

## https://plotly.com/python/treemaps/



df_items_list['all'] = 'all'

In [ ]:
### Some issue wil plotly rendering the graph, will see this issue later

df_items_list['all'] = 'all'
fig = px.treemap(df_items_list.head(30) , path = ['all','items'] , values = 'item_count',
                 color=df_items_list['item_count'].head(30),
                 hover_data = ['items'] , color_continuous_scale='rdpu',
                )

fig.show()

In [17]:
### LEts look at the top 20 items in the datset, 


top_20_items = df_items_list['items'].head(20).values
df_top20_multiple_check = pd.DataFrame(columns=top_20_items)
top_20_items

array(['mineral water', 'eggs', 'spaghetti', 'french fries', 'chocolate',
       'green tea', 'milk', 'ground beef', 'frozen vegetables',
       'pancakes', 'burgers', 'cake', 'cookies', 'escalope',
       'low fat yogurt', 'shrimp', 'tomatoes', 'olive oil',
       'frozen smoothie', 'turkey'], dtype=object)

In [18]:
"""Important Function to generate the all possible multiple values for top 20 items, looping through out the whole datasets to find the non-zero values"""


#https://stackoverflow.com/questions/28663856/how-to-count-the-occurrence-of-certain-item-in-an-ndarray-in-python


items = []
for i in range(data.shape[0]):
    items.append([str(data.values[i,j]) for j in range(data.shape[1])])

    
items = np.array(items)    

for i in range(0 , len(top_20_items)):
    array = []
    for j in range(0 , items.shape[0]):
        array.append(np.count_nonzero(items[j] == top_20_items[i]))
        if len(array) == len(data):
            df_top20_multiple_check[top_20_items[i]] = array
        else:
            continue

In [150]:
df_top20_multiple_check.head()

,mineral water,eggs,spaghetti,french fries,chocolate,green tea,milk,ground beef,frozen vegetables,pancakes,burgers,cake,cookies,escalope,low fat yogurt,shrimp,tomatoes,olive oil,frozen smoothie,turkey
0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,1,1,0
1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [151]:
df_top20_multiple_check.describe()

,mineral water,eggs,spaghetti,french fries,chocolate,green tea,milk,ground beef,frozen vegetables,pancakes,burgers,cake,cookies,escalope,low fat yogurt,shrimp,tomatoes,olive oil,frozen smoothie,turkey
count,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000,7501.000000
mean,0.238368,0.179709,0.174110,0.170911,0.163978,0.132116,0.129583,0.098254,0.095321,0.095054,0.087188,0.081056,0.080389,0.079323,0.076523,0.071457,0.068391,0.065858,0.063325,0.062525
std,0.426114,0.383971,0.379229,0.376456,0.370640,0.338639,0.335866,0.297677,0.293677,0.293309,0.282130,0.272939,0.271913,0.270260,0.265851,0.257604,0.252432,0.248050,0.243563,0.242123
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

####   Now , wwe have max values till 1 for almost all variable, except " choclate"

Inorder for Apriori algorith to work, we need to pass only the 0-1 binay values.

Here, we need to convert our data into a matrix where rows must be one transaction, and column will the items. 

Encode the data with binary values, "1" will represent that the item has been purchased and " 0" shows its not purhcased.

In [19]:
"""USing TransactionEncoder method to encode the values"""


items = []
for i in range(data.shape[0]):
    items.append([str(data.values[i,j]) for j in range(data.shape[1])])
    
    
items = np.array(items)
tr = TransactionEncoder()
tr_Array = tr.fit(items).transform(items)

df = pd.DataFrame(tr_Array , columns = tr.columns_)
df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [20]:
# Convert dataset into 1-0 encoding

def encode_units(x):
    if x == False:
        return 0 
    if x == True:
        return 1
    
df = df.applymap(encode_units)
df.head(10)

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Algorithm Implemntation

In [21]:
## Support ##Confidence ## LIFT   

# Extracting the most frequest itemsets via Mlxtend.
# The length column has been added to increase ease of filtering.

frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

      support                                      itemsets  length
0    0.020397                                     (almonds)       1
1    0.033329                                     (avocado)       1
2    0.010799                              (barbecue sauce)       1
3    0.014265                                   (black tea)       1
4    0.011465                                  (body spray)       1
..        ...                                           ...     ...
510  0.011065       (milk, mineral water, nan, ground beef)       4
511  0.017064  (mineral water, spaghetti, nan, ground beef)       4
512  0.015731         (milk, mineral water, spaghetti, nan)       4
513  0.010265    (mineral water, olive oil, nan, spaghetti)       4
514  0.011465     (pancakes, mineral water, spaghetti, nan)       4

[515 rows x 3 columns]

In [22]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.05) ]

      support                    itemsets  length
92   0.087188              (burgers, nan)       2
104  0.081056                 (nan, cake)       2
118  0.059992              (nan, chicken)       2
132  0.052660  (chocolate, mineral water)       2
133  0.163845            (chocolate, nan)       2
147  0.080389              (nan, cookies)       2
151  0.051060          (nan, cooking oil)       2
164  0.050927       (eggs, mineral water)       2
165  0.179709                 (eggs, nan)       2
177  0.079323             (escalope, nan)       2
188  0.170911         (nan, french fries)       2
202  0.063192      (frozen smoothie, nan)       2
209  0.095321    (frozen vegetables, nan)       2
217  0.052393        (grated cheese, nan)       2
222  0.131982            (green tea, nan)       2
231  0.098254          (nan, ground beef)       2
250  0.076390       (low fat yogurt, nan)       2
256  0.129583                 (milk, nan)       2
265  0.238235        (mineral water, nan)       2
272  0.059725  (mineral water, spaghetti)       2
281  0.065725            (olive oil, nan)       2
282  0.095054             (pancakes, nan)       2
290  0.071324               (nan, shrimp)       2
291  0.050527                 (soup, nan)       2
292  0.174110            (spaghetti, nan)       2
296  0.068391             (tomatoes, nan)       2
297  0.062525               (turkey, nan)       2
301  0.058526     (nan, whole wheat rice)       2

In [37]:
## Definging the Rules for the Algorithm

rules = association_rules(frequent_itemsets , metric='lift'  ,min_threshold= 1.2)

rules["ante._count"] = rules["antecedents"].apply(lambda x: len(x))
rules["cont._count"] = rules["consequents"].apply(lambda x: len(x))
rules.sort_values(by = "lift" , ascending =False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,ante._count,cont._count
158,(herb & pepper),(ground beef),0.049460,0.098254,0.015998,0.323450,3.291994,0.011138,1.332860,1,1
636,(herb & pepper),"(nan, ground beef)",0.049460,0.098254,0.015998,0.323450,3.291994,0.011138,1.332860,1,2
634,"(herb & pepper, nan)",(ground beef),0.049460,0.098254,0.015998,0.323450,3.291994,0.011138,1.332860,2,1
637,(ground beef),"(herb & pepper, nan)",0.098254,0.049460,0.015998,0.162822,3.291994,0.011138,1.135410,1,2
635,"(nan, ground beef)",(herb & pepper),0.098254,0.049460,0.015998,0.162822,3.291994,0.011138,1.135410,2,1
...,...,...,...,...,...,...,...,...,...,...,...
109,(french fries),(escalope),0.170911,0.079323,0.016398,0.095944,1.209537,0.002841,1.018385,1,1
623,"(nan, shrimp)",(green tea),0.071324,0.132116,0.011332,0.158879,1.202571,0.001909,1.031818,2,1
624,(green tea),"(nan, shrimp)",0.132116,0.071324,0.011332,0.085772,1.202571,0.001909,1.015804,1,2
622,"(green tea, nan)",(shrimp),0.131982,0.071457,0.011332,0.085859,1.201540,0.001901,1.015754,2,1
625,(shrimp),"(green tea, nan)",0.071457,0.131982,0.011332,0.158582,1.201540,0.001901,1.031613,1,2

In [38]:
# Sort values based on confidence

rules.sort_values("confidence",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,ante._count,cont._count
917,"(eggs, nan, ground beef)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848,3,1
921,"(eggs, ground beef)","(mineral water, nan)",0.019997,0.238235,0.010132,0.506667,2.126752,0.005368,1.544118,2,2
481,"(eggs, ground beef)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848,2,1
639,"(milk, ground beef)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552,2,1
989,"(milk, ground beef)","(mineral water, nan)",0.021997,0.238235,0.011065,0.503030,2.111489,0.005825,1.532820,2,2
...,...,...,...,...,...,...,...,...,...,...,...
954,"(mineral water, nan)","(spaghetti, french fries)",0.238235,0.027596,0.010132,0.042529,1.541125,0.003558,1.015596,2,2
532,(mineral water),"(spaghetti, french fries)",0.238368,0.027596,0.010132,0.042506,1.540263,0.003554,1.015571,1,2
926,(mineral water),"(eggs, nan, ground beef)",0.238368,0.019997,0.010132,0.042506,2.125563,0.005365,1.023507,1,3
958,(mineral water),"(spaghetti, nan, french fries)",0.238368,0.027596,0.010132,0.042506,1.540263,0.003554,1.015571,1,3
484,(mineral water),"(eggs, ground beef)",0.238368,0.019997,0.010132,0.042506,2.125563,0.005365,1.023507,1,2

Here, we see that if a cuss=tomer purchased eggs, and ground beef, there is a 50% likelyhood that he will purchase the mineral Water too,

SO, keeping them colse to each other in shopping shel, will be better for sales.

##### WE see, that the dataset is mainly dominated by the product minreal water, hence lets exclude that and see what is the confidence

In [48]:
rules[~rules['antecedents'].str.contains("mineral water" , regex=False) & 
      ~rules['consequents'].str.contains("mineral water", regex=False)].sort_values("confidence" , ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,ante._count,cont._count
171,(ground beef),(spaghetti),0.098254,0.174110,0.039195,0.398915,2.291162,0.022088,1.373997,1,1
671,"(nan, ground beef)",(spaghetti),0.098254,0.174110,0.039195,0.398915,2.291162,0.022088,1.373997,2,1
673,(ground beef),"(spaghetti, nan)",0.098254,0.174110,0.039195,0.398915,2.291162,0.022088,1.373997,1,2
812,"(red wine, nan)",(spaghetti),0.028130,0.174110,0.010265,0.364929,2.095966,0.005368,1.300468,2,1
814,(red wine),"(spaghetti, nan)",0.028130,0.174110,0.010265,0.364929,2.095966,0.005368,1.300468,1,2
...,...,...,...,...,...,...,...,...,...,...,...
233,(spaghetti),(red wine),0.174110,0.028130,0.010265,0.058959,2.095966,0.005368,1.032761,1,1
815,(spaghetti),"(red wine, nan)",0.174110,0.028130,0.010265,0.058959,2.095966,0.005368,1.032761,1,2
866,(eggs),"(chocolate, spaghetti, nan)",0.179709,0.039195,0.010532,0.058605,1.495234,0.003488,1.020619,1,3
863,"(eggs, nan)","(chocolate, spaghetti)",0.179709,0.039195,0.010532,0.058605,1.495234,0.003488,1.020619,2,2
370,(eggs),"(chocolate, spaghetti)",0.179709,0.039195,0.010532,0.058605,1.495234,0.003488,1.020619,1,2

here, we see new items in relation by excluding the mineral water.

one of which is ground beef, so lets see all the transactions where ground beef is antecendent.

In [54]:
rules[rules["antecedents"].str.contains("ground beef", regex=False) &
      rules["ante._count"] == 1].sort_values("confidence", ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,ante._count,cont._count
917,"(eggs, nan, ground beef)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848,3,1
985,"(milk, nan, ground beef)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552,3,1
869,"(chocolate, nan, ground beef)",(mineral water),0.023064,0.238368,0.010932,0.473988,1.988472,0.005434,1.447937,3,1
998,"(spaghetti, nan, ground beef)",(mineral water),0.039195,0.238368,0.017064,0.435374,1.826477,0.007722,1.348914,3,1
997,"(mineral water, nan, ground beef)",(spaghetti),0.040928,0.174110,0.017064,0.416938,2.394681,0.009938,1.416470,3,1
651,(ground beef),"(mineral water, nan)",0.098254,0.238235,0.040928,0.416554,1.748499,0.017520,1.305630,1,2
163,(ground beef),(mineral water),0.098254,0.238368,0.040928,0.416554,1.747522,0.017507,1.305401,1,1
673,(ground beef),"(spaghetti, nan)",0.098254,0.174110,0.039195,0.398915,2.291162,0.022088,1.373997,1,2
171,(ground beef),(spaghetti),0.098254,0.174110,0.039195,0.398915,2.291162,0.022088,1.373997,1,1
986,"(mineral water, nan, ground beef)",(milk),0.040928,0.129583,0.011065,0.270358,2.086376,0.005762,1.192938,3,1

In [58]:
# For optimum results, you can filter out both the metrics and filter out the most relevant associated items.

rules[(rules['lift'] >= 2) & (rules['confidence'] >= 0.50)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,ante._count,cont._count
481,"(eggs, ground beef)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848,2,1
639,"(milk, ground beef)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552,2,1
917,"(eggs, nan, ground beef)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848,3,1
921,"(eggs, ground beef)","(mineral water, nan)",0.019997,0.238235,0.010132,0.506667,2.126752,0.005368,1.544118,2,2
985,"(milk, nan, ground beef)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552,3,1
989,"(milk, ground beef)","(mineral water, nan)",0.021997,0.238235,0.011065,0.503030,2.111489,0.005825,1.532820,2,2

##### So , as per our intution, we do see a ot of transactions , and we can proceed further.


### So, we conclude here with this results and we can take this associaion data to further create Recommendations for the recommendations engine.